# Server Config
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/library_db?schema=public

# Security Configs
CORS_ORIGIN=*
