# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL)
# Note: For running backend locally, use localhost:5432. For Docker, use postgres:5432.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/library_db?schema=public

# Security Configs
CORS_ORIGIN=*
JWT_SECRET=your_super_secret_jwt_signing_key_here
